# Crystal Clock - use 32MHz onboard oscillator
NET "ext_clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns;

NET "vsync" LOC = "P85";
NET "hsync" LOC = "P83";
NET "rgb<2>" LOC = "P54";
NET "rgb<1>" LOC = "P63";
NET "rgb<0>" LOC = "P71";

NET "sw<2>" LOC = "P94";
NET "sw<1>" LOC = "P92";
NET "sw<0>" LOC = "P91";
